@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #E9ECF8;
}

.contenedor{
    display: flex;
    width: 100%;
    height: 94vh;
    gap: 3%;
}

.contenedor__bloque1{
    width: 72%;
    height: 95vh;
    display: flex;
    flex-direction: column;
}

.contenedor__bloque2{
    width: 28%;
    height: 90vh;
    background-color: #FFFFFF;
    border-radius: 32px;
    margin: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

.contenedor__bloque2__encriptar {
    padding: 2%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    width: 28%;
    background-color: #FFFFFF;
    border-radius: 32px;
    margin: 2%;
    text-align: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25) ;
    position: relative;
}

.contenedor__bloque1__header{
    display: flex;
    margin: 30px;
    align-items: center;
}

.logo__alura{
    height: 40px;
}

.titulo{
    background-color: #0a3871a1;
    border: 2px solid #0000007a;
    padding: 15px 35px;
    border-radius: 10px;
    color: #E9ECF8;
    font-size: 24px;
}

.contenedor__encriptador{
    display: flex;
    flex-direction: column;
    gap: 12vh;
}

.contenedor__caja__texto{
    padding-left: 22%;
}

.caja__texto {
    margin-top: 4vh;
    border: none;
    height: 50vh;
    width: 100%;
    background-color: transparent;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    resize: none;
    padding: 10px 10px;
    line-height: 150%;
    color: #0A3871;
}

.caja__texto::placeholder{
    color: #0A3871;
}

.caja__texto:focus, .caja__texto:active{
    border: none;
    outline: none;
}

.contenedor__encriptador__pie{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-left: 22%;
}

.contenedor__caja__terminos{
    display: flex;
    gap: 8px;
}

.contenedor__caja__terminos p{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.contenedor__botones{
    width: 100%;
    display: flex;
    gap: 3%;
}

.boton__encriptar{
    padding: 15px;
    width: 50%;
    background-color: #0A3871;
    color: #D8DFE8;
    border-radius: 24px;
    cursor: pointer;
}

.boton__desencriptar{
    padding: 15px;
    width: 50%;
    background-color: #D8DFE8;
    color: #0A3871;
    border-radius: 24px;
    cursor: pointer;
}

.contenedor__bloque2 img {
    width: 82%;
}

.contenedor__bloque2__texto{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: auto;
    
}

.parrafoResultado{
    top: 3%;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
}

.boton__copiar{
    padding: 3% 8%;
    background-color: transparent;
    border-radius: 24px;
    border: 1px solid #0A3871;
    cursor: pointer;
    width: 85%;
    bottom: 4%;
    position: absolute;
}

.footer__creditos{
    margin-top: 15px;
    padding-left: 20px;
    padding: 8px;
    width: fit-content;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #FFFFFF;
    border-top-right-radius: 15px;
    border: 1px solid #808080;
}

@media (max-width: 950px){
    .contenedor{
        flex-direction: column;
        height: auto;
    }
    .contenedor__bloque1{
        width: 100%;
    }

    .contenedor__encriptador{
        width: 100%;
    }

    .contenedor__caja__texto{
        padding: 0 15%;
    }

    .contenedor__encriptador__pie{
        padding: 0 15%;
    }
    
    .contenedor__bloque2{
        width: 80%;
        margin: 0 10%;
        height: 40vh;
    }
    .main{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .contenedor__bloque2__encriptar{
        height: 40vh;
        width: auto;
        margin: 5% 10%;
    }
    .boton__copiar{
        margin-bottom: 3%;
    }
}

@media (max-width: 455px) {
    .contenedor__botones{
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }
    .contenedor__botones button {
        width: 100%;
    }
    .contenedor__encriptador__pie{
        padding: 0 10%;
        margin-bottom: 5%;
    }
    .contenedor__encriptador{
        gap: 5%;
    }
}
